.App {
  margin: 0;
  font-family: "Proxima Nova","proxima-nova",'Helvetica Neue',Helvetica,Arial,sans-serif;
  color: #2e261d;
}

a {
  background-color: transparent;
  color: #2e261d;
  &.back {
    font-size: 14px;
    border: 2px solid #ddd;
    padding: 14px 24px;
    margin-top: .5rem;
    display: inline-block;
    text-decoration: none;
    color: #999;
    border-radius: 3px;
    font-weight: bold;
    transition: .2s ease all;
    &:hover {
      border-color: #666;
      color: #666;
    }
  }
}

fieldset {
  margin: 0 2px;
}

form {
  button {
    cursor: pointer;
    display: block;
    width: 100%;
    color: #fff;
    text-align: center;
    background: #aaa;
    border: 0px solid #c2c2c2;
    padding: 12px 24px;
    height: 55px;
    line-height: 1;
    font-size: 25px;
    font-weight: normal;
    -webkit-transition: 0.5s ease all;
    transition: 0.5s ease all;
    border-radius: 3px;
    :hover {
      opacity: 1;
      background: #333;
    }
  }
  fieldset {
    border: 0;
    padding: 0;
    input {
      border-radius: 0;
      display: block;
      margin-bottom: 1rem;
      width: 100%;
      height: 49px;
      font-weight: 300;
      padding: 14px 16px;
      border: 0;
      border-bottom: 0px solid #c2c2c2;
      background: #f7f7f7;
    }
    :focus {
    overflow: auto;
    border: 3px solid #ddd !important;
    outline: none;    
    }
    .split {
      .split-left {
        width: 42%;
        float: left;
        border-right: 15px solid #ffffff;
      }
      .split-right {
        width: 58%;
      }
    }
    *::-moz-placeholder {
      color: #999;
    }
  }
}

hr {
  box-sizing: content-box;
  height: 0;
}

h2 {
  color: #393836;
  font-size: 20px;
  margin-bottom: 14px;
}

input {
  color: inherit;
  font: inherit;
  line-height: normal;
  margin: 0;
}

section {
  display: block;
  hr {
    margin: 0;
    padding: 0;
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
  }
}

strong {
  font-weight: bold;
}

section {
  -webkit-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #c2c2c2;
  background: #f8f7f3;
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 18px;
  strong {
    display: block;
  }
  .amount {
    float: right;
  }
  .item {
    padding-right: 18px 25px;
  }
}

select {
    cursor: pointer;
    overflow: hidden;
}

.error {
    color: #c7254e;
    margin-bottom: 10px;
    font-size: 14px;
}

.row {
  max-width: 1140px;
  width: 100%;
  margin: 0 auto;
  .column {
    float: left;
    width: 100%;
    padding: 0 60px;
    margin-bottom: 70px;
    &.half {
      width: 50%;
      position: relative;
    }
    &:first-child {
      left: 50%;
    }
    &:last-child {
      left: -50%;
    }
  }
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}